<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ title }}</mm-format-text></ion-nav-title>
    <ion-nav-buttons side="secondary">
        <mm-context-menu>
            <mm-context-menu-item priority="900" ng-if="moduleUrl" href="moduleUrl" content="'mm.core.openinbrowser' | translate" icon-action="'ion-share'"></mm-context-menu-item>
            <mm-context-menu-item priority="800" ng-if="description" content="'mm.core.moduleintro' | translate" action="expandDescription()" icon-action="'ion-arrow-right-c'"></mm-context-menu-item>
            <mm-context-menu-item priority="700" content="'mm.core.refresh' | translate" action="doRefresh()" icon-action="refreshIcon" close-on-click="false" close-when-done="true"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <ion-content padding="true" mm-state-class>
    	<div id="content_wrap">
	   <div class="content_container">
	      <div id="tickets">
		<iframe ng-src="{{ url }}" id="ticketFrame" frameborder="0"></iframe>
	      </div>
	   </div>
	</div>
<!--
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" on-refresh="doRefresh()" ng-if="loaded"></ion-refresher>
        <mm-loading hide-until="loaded">
            <mm-course-mod-description description="description" component="{{component}}" component-id="{{componentId}}" watch="true"></mm-course-mod-description>
			<div class="item item-text-wrap">
                <h2>{{ 'mma.mod_url.pointingtourl' | translate }}</h2>
                <p>{{ url }}</p>
            </div>
            <a ng-click="go()" class="button button-block icon-left ion-link button-positive">{{ 'mma.mod_url.accessurl' | translate }}</a>
        </mm-loading>
-->
    </ion-content>
</ion-view>
#content_wrap {
    display: inline-block;
    float:left;
    width:100%;
    overflow-x:hidden;
    position:relative;
    height:100%;
    z-index:300;
}

#content_wrap  .content_container {
    position:absolute;
    left:0px;
    display:inline-block;
    float:left;
    width:100%;
    padding:0;
    min-height:100%;
    height:auto;
    background-color:#FFF;
}

#tickets {
    display:inline-block;
    float:left;
    width:50%;
    margin:0px;
    height:100%;
    right: 0; 
    bottom: 0; 
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

#ticketFrame {
    height:1000px;
    display:inline-block;
    float:left;
    width:100%;
}
